{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 500,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 44
      }
    }
  ]
}
